<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Velox">
        <title>Velox - New Project</title>
        <!-- styles -->
        
    </head>
        <form action="new" method = "post"
            {% if note %}
			    <form action="{{ url_for('update_note', note_id=note.id) }}" method="post">
		    {% else %}
			    <form action="new" method="post">
		    {% endif %}
            <p><label>Title </label></p>
            <p><input type="text" name="title" value="{% if project %}{{project.title}} {%endif %}"/></p>
            <p><label>Project </label></p>
		    <p>
				<textarea name="projectText"  rows="50" cols="250" >
					Create your new project here...
				</textarea>
		    </p>
           <p>		
			    <input type="submit" value="Add Project"/>
			</p>
        </form>
    </body>
</html>