* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
}
.container {
  width: 450px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.639);
  background-color: #272838;
}

.header h1 {
  color: rgb(255, 255, 255);
  padding: 15px;
}

.body {
  flex: 1;
  color: black;
  background-color: #3b3c54;
  padding: 20px 30px;
}

.message {
  background-color: #000000;
  padding: 10px;
  color: rgb(255, 255, 255);
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 15px;
}

.message-user {
  margin-left: auto;
  background-color: #000000;
  color: rgb(255, 255, 255);
  width: fit-content;
}

.footer form {
  display: flex;
}

form input {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 5px;
  font-size: 16px;
}

form button {
  width: 100px;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

form button:hover {
  background-color: rgb(80, 79, 79);
  transition: 0.3s ease;
}
