<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/default.css">
    <title>Project</title>
    <h2>Velox</h2>
</head>

<body>
    <main>
        
        <p>"A new form of File Management"</p>

    <div class="div-for-button">
            <div>
            <a  href="#this_will_take_you_to_the_main_page_and_add_user_to_database">
                <button id="sign-up-button">Sign up</button>
            </a>
        </div>
        <div>
            <a href="#this_will_take_you_to_the_main_page_and_add_user_to_database">
                <button id="log-in-button">Log in</button>
            </a>
        </div>
        <figure>
            <img src="images/Screen Shot 2022-11-12 at 10.55.42 AM.png">
         </figure>
     </div>
    
        <p>Create design, and collaborate on online documents
            in real-time and from any device
        </p>
    </main>
</body>
<footer>
</footer>

</html>