<!DOCTYPE html>
<html lang="en">

<head>
    <title>Velox</title>
    <link rel="stylesheet" href="styles/default.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
   <a class="back_button" href="landingpage.html">
    <i class="fa-solid fa-arrow-left"></i>
   </a>
    <div class="center-content-for-log-in">
        <main>

            <h1>Login</h1>
            <label style="margin-right: 32.25%" for="email">Email</label><br>
            <input type="email" id="email" name="email"><br><br>

            <label style="margin-right:26%" for="password">Password</label><br>
            <input type="password" id="password" name="password"><br><br><br>

            <button class="button">Login</button><br><br>
            <!-- <a class="logo" href="https://www.google.com/">
            <i class="fa-brands fa-google fa-2x"></i>
        </a> -->
            <nav>
                <a href="signup.html">Not a user? Sign up</a>
            </nav>
        </main>
    </div>
</body>
<footer>

</footer>

</html>