<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Velox">
        <title>Velox - New Project</title>
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
            integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/static/new.css">


    </head>

    <body>


        <div class="container">
            {% if project %}
            <form action="{{ url_for('edit_project', project_id=project.id) }}" method="post">
                {% else %}
                <form action="new" method="post">
                    {% endif %}
                    <div class="wrapper">
                        <p><label>Title</label></p>
                        <input class='title' type="text" name="title"
                            value="{% if project %}{{project.title}} {% endif %}" />

                        <textarea spellcheck=" false" required name='projectText'>{% if project %} {{project.text}} {% else
                        %} {% endif %}</textarea>
                    </div>
                    <div class="buttons">
                        {% if project %}
                        <input type="submit" value="Update Project" />
                        {% else %}
                        <input type="submit" value="Add Project" />
                        {% endif %}
                    </div>

                    {% if project.comments %}
                    {% if project.comments|length > 0 %}
                    <h2>Comments</h2>
                    <ul>
                        {% for comment in project.comments %}
                        <li>{{ comment.content }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endif %}
                    <form action="{{ url_for('new_comment', project_id=project.id) }}" method="post">
                        <div class="formwrapper">
                            <h2 class="comment_title">Add a comment</h2>
                            <div class="form-field">
                                {{ form.comment }}
                            </div>
                            {{ form.submit }}
                        </div>
                    </form>
        </div>
        <script>
            const textarea = document.querySelector("textarea");
            textarea.addEventListener("keyup", e => {
                textarea.style.height = "63px";
                let scHeight = e.target.scrollHeight;
                textarea.style.height = `${scHeight}px`;
            });
        </script>
    </body>

</html>