<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="static/dashboard.css">
        <title>Dashboard</title>
    </head>

    <body>
        <h2>Dashboard</h2>
        <br />

        <div class="card">
            <div class="card-header">
                Information
            </div>
            <div class="card-body">

                <p class="card-text">

                <div class="container">
                    <div class="row">
                        <div class="col-8">

                            <strong>Name:</strong>
                            {{session.user}}
                            <br />

                            <strong>User ID:</strong>
                            {{session.user_id}}
                            <br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br />
        </div>
        <div class="card">
            <div class="card-header">
                Update Profile
            </div>
            <div class="card-body">



            </div>



    </body>

</html>