<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/default.css">
    <title>Document</title>
</head>
<body>
    <div class="box">
        <h1 id="h1">Document</h1>
        <div id="edit-button-project-edit">
            <a href="#">
            <button id="edit-button">Save</button>
            </a>
        </div>        
    </div>
    <div class="textbox">
       <textarea id="project" rows="50" cols="1000"> 
       </textarea>
    </div>
    
</body>
<!-- <footer id="footer">
    <form>
        <label for="comment">Comment</label>
        <input type="text" id="text" name="text">
        <button id="enter-button">Enter</button>
    </form>
</footer> -->
</html>