<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/default.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
   
</head>
<body>
    <!-- <a class="back_button" href="landingpage.html">
        <i class="fa-solid fa-arrow-left"></i>
       </a> -->
    <div class="box">
        
        <h1 id="h1">Document</h1>
    <div id="edit-button-project-edit">
        <a href="project_edit.html">
        <button id="edit-button">Edit</button>
        </a>
    </div>

    </div>
    <div class="textbox">
       <textarea id="project" rows="50" cols="1000"> 
       </textarea>
    </div>
    
</body>
<!-- <footer id="footer">
    <form>
        <label for="comment">Comment</label>
        <input type="text" id="text" name="text">
        <button id="enter-button">Enter</button>
    </form>
</footer> -->
</html>