<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/default.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
            integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Document</title>

    </head>

    <body>
       
        <div class="box">
            <div class="content">
            <a class="back_button" a href="{{ url_for('main') }}">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
            <h1>{% if project %}{{project.title}} {% endif %}</h1>
        </div>
        </div>

        <p>
            {% if project %}
        <form action="{{ url_for('get_project', project_id=project.id) }}" method="post">
            {% else %}
            <form action="new" method="post">
                {% endif %}
                <!-- <p><label>Title: </label></p>
                <p>{% if project %}{{project.title}} {% endif %}</p> -->
                <!-- <p><input type="text" name="title" value=""/></p> -->

                </p>

                <div class="textbox">
                    {% if project %}
                    <form action="{{ url_for('get_project', project_id=project.id) }}" method="post">
                        {% else %}
                        <form action="new" method="post">
                            {% endif %}

                            <p id="project-view-para"><label>Project </label></p>
                            <p>
                                {% if project %}
                                {{project.text}}
                                {% else %}
                                Create your new project ...
                                {% endif %}
                            </p>
                </div>

    </body>

    <!-- <footer id="footer">
        <form>
            <label for="comment">Comment</label>
            <input type="text" id="text" name="text">
            <button id="enter-button">Enter</button>
        </form>
    </footer> -->

</html>